# contains private API keys, and DB information
# not safe for public github repo exposure
.env

# database object files, size is too large for github upload
# individual .xlsx files for DB tables will be provided instead 
imdb_analytics*

# compiled, env, and large dataset files
__pycache__
data/title.basics.tsv
.vscode/
venv/
